[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
groq = "*"
scikit-learn = "*"
pandas = "*"
flask = "*"
psycopg2-binary = "*"
python-dotenv = "*"
streamlit = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.12"
